<div id="devise-mini">
  <div class="container">
    <div class="well">

    <% if @settings.initialized_flag %>
      <h3>New User?</h3>
      <p>Please create an account to continue.</p>
    <% else %>
      <h3>New Crowdhoster App</h3>
      <p>Looks like this is a new Crowdhoster App! Go ahead and create a user that will serve as your site admin:</p>
    <% end %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :fullname, "Full Name" %>
      <%= f.text_field :fullname, :autofocus => true %></div>

      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <button class="btn btn-primary show_loader" data-loader="user_form" type="submit" >Create my account</button>
      <span class="loader" data-loader="user_form" style="display:none"></span>
    <% end %>

    <p style="font-size: 12px">By creating this account, you agree to our <a href="http://www.crowdhoster.com/terms" target="_blank">Terms of Use</a> and <a href="http://www.crowdhoster.com/privacy" target="_blank">Privacy Policy</a></p>

     <br/><%= link_to "Already have an account?", new_session_path(resource_name) %><br />

    </div>
  </div>
</div>
