<p style="font-size: 14px; line-height: 18px; color: #6b6b6b">
Hi <%= @payment.fullname.split(' ')[0] %>,

<br/><br/>

This is an email receipt for your <%= short_price(@payment.amount.to_f/100.0 + @payment.user_fee_amount.to_f/100.0, '$', 2) %> contribution to <a href="<%= url_for campaign_home_url(@campaign) %>"><%= @campaign.name %></a>. If you have any questions about this campaign, please contact the campaign's organizer at <%= @settings.reply_to_email %><% if @settings.phone_number.present? %> or <%= @settings.phone_number %><% end %>.

<br/><br/>

<% if !@campaign.production_flag %>
  <div style="color: red">This campaign is in sandbox mode, your card will not actually be charged.</div><br/><br/>
<% end%>

<strong>Payment Details:</strong><br/>
Name: <%= @payment.fullname %> <br/>
Date: <%= @payment.created_at.strftime("%m/%d/%Y") %> <br/>
Amount: <%= short_price(@payment.amount.to_f/100.0 + @payment.user_fee_amount.to_f/100.0, '$', 2) %> <br/>
Card: <%= @payment.card_type %> ************<%= @payment.card_last_four %><br/>
<% if @campaign.rewards? %>
  <%= @campaign.reward_reference.titleize %> Selected: <%= @payment.reward ? @payment.reward.title : 'None' %> <br/>
<% end %>
<% if @campaign.goal_type == 'orders' %>
  Quantity: <%= @payment.quantity %> <br/>
<% end %>
<% if @campaign.collect_shipping_flag %>
  Shipping Address:<br/>
  <%= @payment.address_one %><br/>
  <% if !@payment.address_two.blank? %><%= @payment.address_two %><br/><% end %>
  <%= @payment.city %>, <%= @payment.state %> <%= @payment.postal_code %><br/>
  <%= @payment.country %>
  <br/>
<% end %>
<% if @campaign.collect_additional_info %>
  Additional Information:<br/>
  <%= @payment.additional_info %>
  <br/>
<% end %>
<br/>
Payment ID: <%= @payment.ct_payment_id %><br/>
Charge will appear as: <%= 'BAL*' + @settings.billing_statement_text %>

<br/><br/>

Please keep this email as your receipt.
<% if !@campaign.is_tilted %>
Your credit card will only be charged if this campaign reaches its goal. In the meantime, you might also see an authorization on your card to ensure sufficient funds are available.
<% end %>

<br/></br>

Thanks for your support!
</p>
