<h3>
  Admin > <%= link_to @settings.site_name, root_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  <span class="loader" data-loader="admin_header" style="display:none"></span>
</h3>

<ul class="nav nav-pills">
  <li class="<%= 'active' if active == 'website' %>">
    <%= link_to "Website", admin_website_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'campaigns' %>">
    <%= link_to "Campaigns", admin_campaigns_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'payments' %>">
    <%= link_to "Payment Settings", admin_processor_setup_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'notifications' %>">
    <%= link_to "Notification Settings", admin_notification_setup_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
</ul>
