<div id="devise-mini">
  <div class="container">
    <div class="well">

    <h3>Forgot your password?</h3>

    <p>Please enter your email below.</p>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "Send password reset email", class: "btn btn-primary" %></div>
    <% end %>

    </div>
  </div>
</div>
