<p><%= @payment.fullname %> just backed "<%= @payment.campaign.name %>".</p>
<p>They contributed <%= short_price(@payment.amount.to_f/100.0 + @payment.user_fee_amount.to_f/100.0, '$', 2) %><% if @reward %> and selected the "<%= @reward.title %>" <%= @campaign.reward_reference %><% end %>!</p>
<p>Reach out and thank them by email: <%= @payment.email %>.</p>