<div id="campaign">
<div id="funding_area">
  <div class="container clearfix">

    <div class="center">
      <h1 class="campaign_title"><a href="<%= campaign_home_path(@campaign) %>"><%= @campaign.name %></a></h1>
    </div>
    <hr />
    <br />

    <!-- BEGIN LEFT COLUMN -->
    <div>
      <div id="left-column" class='col-sm-8'>
        <!-- BEGIN MEDIA -->
        <% if @campaign.media_type == 'video' %>
          <div id="video" class='col-sm-6 col-xs-12'>
            <% if @campaign.video_placeholder.file? %>
              <div id="video_image">
                <%= image_tag @campaign.video_placeholder.url(:main), alt: "video_place_holder" %>
              </div>
              <% if !@campaign.video_embed_id.blank? %>
                <div id="player" class="hidden" style="display: none;">
                  <object width="512" height="385">
                    <param name="movie" value="https://www.youtube.com/v/<%= @campaign.video_embed_id %>?autohide=1&showinfo=0&rel=0&autoplay=1" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="https://www.youtube.com/v/<%= @campaign.video_embed_id %>?autohide=1&showinfo=0&rel=0&autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true"></embed>
                  </object>
                </div>
              <% end %>
            <% else %>
              <% if !@campaign.video_embed_id.blank? %>
                <iframe width='512' height='385' src="https://www.youtube.com/embed/<%= @campaign.video_embed_id %>?rel=0"></iframe>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div id="image" class='col-sm-6 col-xs-12'>
            <%= image_tag @campaign.main_image.url(:main), alt: "project_image" %>
          </div>
        <% end %>
        <div class='clearfix visible-xs'></div>
        <hr class='visible-xs' />
        <!-- END MEDIA -->
          <!-- BEGIN RESERVE -->
          <div class='col-sm-6 backing-wrapper'>
              <h2>
                <small>Starting Price: <span class='msrp'><%= number_to_currency @campaign.base_price, :precision => 0 %></span></small><br />
                Current Price: <%= number_to_currency @campaign.current_tier_price, :precision => 0 %>
                <br />
                <small>(<%= number_to_human @campaign.current_tier.pct_off, :precision => 0 %>% Savings)</small>
              </h2>
              <hr />
              <div id="backing">
                <ul>
                  <li class="stats" id="days" date-element="<%= @campaign.expiration_date.to_i %>" ></li>
                </ul>
              </div>

              <div id="reserve_container">
                <div class="share"><%= render 'shared/share_buttons', campaign: @campaign, settings: @settings %></div>
                <div class="call_to_action_button">
                <% if @campaign.expired? %>
                  <% if @campaign.include_rewards_claimed? %>
                    <div id="backing">
                      <ul>
                        <li class="stats-awards">
                          <%= @campaign.rewards_claimed %> Claimed Rewards
                        </li>
                      </ul>
                    </div>
                  <% end %>
                  <span class="blue_button expired">
                    <%= @campaign.primary_call_to_action_button %>
                  </span>
                <% else %>
                  <a href="<%= url_for checkout_amount_path(@campaign) %>" class="blue_button" id="main_cta">
                    <%= @campaign.primary_call_to_action_button %>
                  </a>
                <% end %>
              </div>
              <div class="call_to_action_description">
                <%= raw(@campaign.primary_call_to_action_description) %>
              </div>
            </div>
          </div>
          <!-- END RESERVE -->
          <!-- BEGIN CONTENT for >= SM browsers -->
          <div class='hidden-xs'>
            <div class='clearfix'></div>
            <hr />
            <div class='col-sm-12 well'>
              <%= raw(@campaign.main_content) %>

              <% if @campaign.faqs.count > 0 %>
              <div id="faq">
                <div class="clearfix">
                  <h2>Frequently Asked Questions</h2>
                  <hr />
                  <ul>
                    <% for i in 0...(@campaign.faqs.count) %>
                      <li class='col-sm-12'>
                        <details>
                          <summary><%= @campaign.faqs[i].question %></summary>
                          <p><%= raw(@campaign.faqs[i].answer.gsub("\n", '<br/>')) %></p>
                        </details>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            </div>
          </div>
          <!-- END CONTENT -->
          <div class='clearfix'></div>
        </div>
      </div>
      <!-- BEGIN TIERS -->
      <div id="right-column" class='col-sm-4'>
        <h3><%= @campaign.orders %> Total Orders</h3>
        <hr />
        <div class="list-group tier-list">
          <% count = 0 %>
          <% @campaign.campaign_tiers.each do |t| %>
            <% count = count + 1 %>
            <a href="#" class="list-group-item list-group-item-<%= if t.complete then 'success' else 'info' end %> <%= if t == @campaign.current_tier then 'active' else '' end %>">
              <div class='price'>
                <%= number_to_currency t.price_at_tier, :precision => 0 %>
                <br />
                <small><%= number_to_human t.pct_off, :precision => 0 %>% Off</small>
              </div>
              <div class='people-needed'>
                <% if t == @campaign.current_tier then %>
                    Current Price<br />
                    Activated with <strong><%= t.min_users.to_s %> Orders</strong>
                <% elsif t.complete then %>
                    Activated with <%= t.min_users.to_s %> Orders
                <% else %>
                    <span class='remaining'><%= t.remaining.to_s %></span> More Orders to Activate
                <% end %>
              </div>

              <div class='clearfix'></div>
            </a>
            <br />
          <% end %>
        </div>
        <p class='tier-hint'>The more orders, the more everyone saves! <a href='#' data-toggle="modal" data-target="#learn-more-modal">Learn More</a></p>
      </div>
      <!-- END TIERS -->

      <!-- BEGIN CONTENT for XS browsers -->
      <div class='col-sm-8 visible-xs'>
        <div class='clearfix'></div>
        <hr />
        <div class='col-sm-12 well'>
          <%= raw(@campaign.main_content) %>

          <% if @campaign.faqs.count > 0 %>
          <div id="faq">
            <div class="clearfix">
              <h2>Frequently Asked Questions</h2>
              <hr />
              <ul>
                <% for i in 0...(@campaign.faqs.count) %>
                  <li class='col-sm-12'>
                    <details>
                      <summary><%= @campaign.faqs[i].question %></summary>
                      <p><%= raw(@campaign.faqs[i].answer.gsub("\n", '<br/>')) %></p>
                    </details>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <!-- END CONTENT -->

    </div>

  </div>
</div>

<!-- Learn More Modal -->
<div class="modal fade" id="learn-more-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <p>When you join a Cinco de Buyo campaign, you pledge to purchase the product at the current price. This may not be the price you pay, as the more orders for the campaign, the lower amount everyone pays. Once the campaign is over, you will be charged the amount associated with the total number of orders for that campaign.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->