<div id="checkout">
  <div class="container clearfix">
    <div class="col-sm-8">
      <h2>You Have Successfully Contributed!</h2>
      <%= raw(@campaign.confirmation_page_content) %>
      <% if(@campaign.current_tier != @campaign.tier_for_orders(@campaign.orders - @payment.quantity)) then %>
        <div class="alert alert-success" role="alert">Congrats! Your purchase caused this campaign to advance to the next tier, now everyone can party!</div>
      <% end %>

      <h3>
      <% 
        current_tier = @campaign.current_tier
        is_last = current_tier == @campaign.campaign_tiers.last 
        if(@payment.referral_code.code.nil?)
          link = "https://" + request.host_with_port
        else
          link = "https://" + request.host_with_port + "/u/" + @payment.referral_code.code
        end
          
        if is_last then
      %>
        You got this for the lowest possible price, let your friends know they can too!
      <% else %>
        <strong><%= @campaign.until_next_tier %> more orders</strong> and you will only pay <strong><%= number_to_currency @campaign.next_tier.price_at_tier, :precision => 0 %></strong>, share with your friends and family to increase everyones savings!
      <% end %>
      </h3>

      <hr />
      
      <h3>Here's a link to share with your friends! <br /><small><a href='<%= link %>'><%= link %></a></small></h3>
      <div class="share clearfix">
        <div id="share_buttons">
          <div class="like">
            <div class="fb-share-button" data-href="<%= link %>" data-layout="button_count"></div>
          </div>
          <div class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= link %>" data-text="<%= @campaign.tweet_text.blank? ? @settings.site_name : @campaign.tweet_text %>">Tweet</a></div>
          <div class="pin">
            <a href="//www.pinterest.com/pin/create/button/?url=<%=u link %>&media=<%=u "https://s3.amazonaws.com/hd_wowza/cincodebuyo/uploads/campaigns/main_images/000/000/002/main.jpeg?1425496859" %>&description=<%=u @campaign.tweet_text %>" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
          </div>
        </div>
      </div>

      <br /><hr />
      <p style="margin-top: 50px;">Return to <a href="<%= url_for campaign_home_path(@campaign) %>">the campaign.</a></p>
    </div>
    <div class="well white confirmation_sidebar col-sm-4" id="completed_purchase">
      <h4>Payment Summary</h4>
      <p>
      <strong>Date:</strong><br/> <%= @payment.created_at.strftime("%m/%d/%Y") %> <br/><br/>
      <strong>Minimum Payment Amount:</strong><br/> <%= short_price(@payment.amount.to_f/100.0 + @payment.user_fee_amount.to_f/100.0, '$', 2) %> <br/><br/>
      <strong>Maximum Payment Amount:</strong><br/> <%= short_price(@campaign.price_at_additional_qty(@payment.quantity) * @payment.quantity, '$', 2) %> <br/><br/>
      <strong>Card:</strong><br/> <%= @payment.card_type %> ************<%= @payment.card_last_four %>
      (<%= @payment.card_expiration_month.to_s + '/' + @payment.card_expiration_year.to_s %>) <br/><br/>
      <% if @campaign.rewards? %>
        <strong>Reward Selected:</strong><br/> <%= @payment.reward ? @payment.reward.title : 'None' %> <br/><br/>
      <% end %>
      <% if @campaign.goal_type == 'orders' %>
        <strong>Quantity:</strong><br/> <%= @payment.quantity %> <br/><br/>
      <% end %>
      <% if @campaign.collect_shipping_flag %>
        <strong>Shipping Address:</strong><br/>
        <%= @payment.address_one %><br/>
        <% if !@payment.address_two.blank? %><%= @payment.address_two %><br/><% end %>
        <%= @payment.city %>, <%= @payment.state %> <%= @payment.postal_code %><br/>
        <%= @payment.country %>
        <br/><br/>
      <% end %>
      <% if @campaign.collect_additional_info %>
        <strong>Additional Information:</strong><br/>
        <%= @payment.additional_info %>
        <br/><br/>
      <% end %>
      <strong>Payment ID:</strong><br/> <%= @payment.ct_payment_id %><br/><br/>
      <strong>Charge will appear on your statement as:</strong><br/> <%= 'BAL*' + @settings.billing_statement_text %><br/><br/>
      <p class="center">An email confirmation was sent to <%= @payment.email %></p>
      </p>
    </div>
  </div>
</div>
