<%= form_for([:admin, @campaign], multipart: true, html: { class: "campaign_form", id: "admin_campaign_form" }) do |f| %>
  <%= hidden_field_tag 'current_tab', 'campaign-comments-form' %>

  <fieldset>
    <legend>Comments (optional)</legend>

    <div class="field clearfix">
      <label>Include a user comment section?</label>
      <p class="explanation">Add a comment section where backers can discuss your campaign. You will need a free moderator account from <a href="https://disqus.com/admin/signup/" target="_blank">Disqus.</a></p>
      <%= f.check_box :include_comments %>
      <div class="include_comments_input" style="<%= @campaign.include_comments ? "" : "display:none" %>">
        <label>Enter your Disqus Site Shortname (<a href="https://disqus.com/admin/signup/" target="_blank">Need one?</a>)</label>
        <%= f.text_field :comments_shortname %>
      </div>
    </div>

  </fieldset>

  <%= f.submit "Save", :'class' => "btn btn-primary show_loader", :'data-loader' => "campaign_form" %>
  <span class="loader" data-loader="campaign_form" style="display:none"></span>

<% end %>
