<%= form_for([:admin, @campaign], multipart: true, html: { class: "campaign_form", id: "admin_campaign_form" }) do |f| %>
  <%= hidden_field_tag 'current_tab', 'campaign-sharing-form' %>

  <fieldset>
    <legend>Comments (optional)</legend>

    <div class="field clearfix">
      <label>Include a user comment section?</label>
      <p class="explanation">Add a comment section where backers can discuss your campaign. You will need a free moderator account from <a href="https://disqus.com/admin/signup/" target="_blank">Disqus.</a></p>
      <%= f.check_box :include_comments %>
      <div class="include_comments_input" style="<%= @campaign.include_comments ? "" : "display:none" %>">
        <label>Enter your Disqus Site Shortname (<a href="https://disqus.com/admin/signup/" target="_blank">Need one?</a>)</label>
        <%= f.text_field :comments_shortname %>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Sharing Details</legend>

    <div class="field clearfix">
      <p class="explanation">This is the default text that will be used for the tweet button.</p>
      <label>Tweet Text</label>
      <%= f.text_area :tweet_text, rows: 2 %>
    </div>

    <div class="field clearfix">
      <p class="explanation">The title shown when your site is shared via Facebook. Leave this blank if you want to use your project name.</p>
      <label>Facebook Title</label>
      <%= f.text_field :facebook_title %>
    </div>

    <div class="field clearfix">
      <p class="explanation">The description shown when your site is shared via Facebook.</p>
      <label>Facebook Description</label>
      <%= f.text_area :facebook_description, rows: 2 %>
    </div>

    <div class="field clearfix">
      <p class="explanation">The image shown when your site is shared via facebook. This should have a square aspect ratio and be at least 200px by 200px</p>
      <label>Facebook Image</label>
      <% if @campaign.facebook_image.file? %>
        <%= image_tag @campaign.facebook_image.url(:thumb) %><br/>
        <%= f.file_field :facebook_image %><br/>
        <%= f.check_box :facebook_image_delete %><span>Delete current image</span>
      <% else %>
        <%= f.file_field :facebook_image %>
      <% end  %>
    </div>

  </fieldset>

  <%= f.submit "Save", :'class' => "btn btn-primary show_loader", :'data-loader' => "campaign_form" %>
  <span class="loader" data-loader="campaign_form" style="display:none"></span>

<% end %>
