<% if user_signed_in? && current_user.admin? %>
<div id="navbar">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container clearfix">
      <ul class="navbar-left">

         <% if current_page?(root_path) %>
           <li>
             <button type="button" class="btn btn-default btn-xs">
               <a href="<%= url_for admin_website_path %>"><span class="glyphicon glyphicon-edit"></span> Edit homepage</a>
             </button>
           </li>
           <li>
            <button type="button" class="btn btn-default btn-xs">
              <a href="<%= url_for new_admin_campaign_path %>"><i class="glyphicon glyphicon-plus"></i> New Campaign</a>
            </button>
           </li>
         <% end %>

         <% if request.fullpath.include? 'admin' %>
           <li>
             <a href="<%= url_for root_path %>"><i class="glyphicon glyphicon-chevron-left"></i> Back to website</a>
           </li>
           <li>
              <a href="<%= url_for new_admin_campaign_path %>"><i class="icon-plus icon-white"></i> New Campaign</a>
           </li>
         <% end %>

         <% if params[:controller] == 'campaigns' %>
           <li>
            <button type="button" class="btn btn-default btn-xs">
             <a href="<%= edit_admin_campaign_path(@campaign) %>"><i class="glyphicon glyphicon-edit"></i> Edit campaign</a>
            </button>
           </li>

           <% if !@campaign.published_flag %>
             <li class="status label label-danger show_tooltip" data-placement="bottom" data-title="Visible to ADMINS ONLY">
               Not published
             </li>
           <% else %>
             <li class="status label label-success show_tooltip" data-placement="bottom" data-title="Visible to ALL">
               Published
             </li>
           <% end %>

           <% if !@campaign.production_flag %>
             <li class="status label label-danger show_tooltip" data-placement="bottom" data-title="Transactions WILL NOT be processed">
               Sandbox payments
             </li>
           <% else %>
             <li class="status label label-success show_tooltip" data-placement="bottom" data-title="Transactions WILL be processed">
               Payments activated
             </li>
           <% end %>

         <% end %>

       </ul>

        <ul class="navbar-right">
            <li class="dropdown">
              <%= image_tag 'user_icon.png' %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.fullname %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><%= link_to "Account", user_settings_path %></li>
                <li><%= link_to "Admin", admin_website_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer" style="height:30px; width: 100%"></div>
</div>
<% end %>