<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= @site.site_name %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>
      <div class="admin-alert alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div id="main">
      <%= yield %>
    </div>
    <%= render 'admin/footer' %>

    <div id="powered">
      <a href="http://www.crowdhoster.com">
      &nbsp;&nbsp;A Crowdhoster Site
      &nbsp;&nbsp;<%= image_tag 'crowdtiltcircle.png' %>&nbsp;&nbsp;
      Powered by Crowdtilt
      </a>
    </div>

    <% if Rails.env.development? %>
      <div id="debug" style="background: white; padding:50px"><%= debug(params) %></div>
    <% end %>

  </body>
</html>
