<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= @site.site_name %></title>
    <%= render 'layouts/facebook_metas' %>
    <%= render 'layouts/mobile_bookmark_metas' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <style type="text/css"><%= raw(@site.custom_css) %></style>

    <%= javascript_include_tag "application" %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'layouts/social_js' %>
    <%= render 'layouts/navbar' %>
    <%= render 'theme/views/header' %>
    <% flash.each do |key, value| %>
      <% if !value.blank? %><div class="alert alert-<%= key %>"><%= value %></div><% end %>
    <% end %>
    <div id="main">
      <%= yield %>
    </div>
    <%= render 'theme/views/footer' %>

    <div id="powered">
      <a href="http://www.crowdhoster.com">
      &nbsp;&nbsp;A Crowdhoster Site
      &nbsp;&nbsp;<%= image_tag 'crowdtiltcircle.png' %>&nbsp;&nbsp;
      Powered by Crowdtilt
      </a>
    </div>

    <% if Rails.env.development? %>
      <div id="debug" style="background: white; padding:50px"><%= debug(params) %></div>
    <% end %>
    
    <% if @multisite_enabled && @is_custom_domain %>
    <% end %>

    <%= raw(@site.custom_js) %>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  </body>
</html>
