<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= @settings.site_name %></title>
    <%= csrf_meta_tags %>
    <%= yield :metas %>

    <%= stylesheet_link_tag    "application" %>
    <%= yield :stylesheets %>

    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>

    <script src="//use.typekit.net/yau8ugv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>

  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body class='tk-proxima-nova-alt'><!--<![endif]-->

    <%= yield :header %>

    <% if content_for?(:flash) %>
      <%= yield :flash %>
    <% else %>
      <%= render 'layouts/flash', flash: flash %>
    <% end %>

    <div id="main">
      <%= yield %>
    </div>

    <%= yield :footer %>
    
    <% if Rails.env.development? %>
      <div id="debug" style="background: white; padding:50px"><%= debug(params) %></div>
    <% end %>

    <%= yield :body_bottom %>

  </body>

</html>
